.default-color {
    color: #366ad3;
}

.default-bg {
    background-color: #FFF;
}

.main-bg {
    background-color: #366ad3;
}

.sec-color {
    color: #333;
}

.sec-bg {
    background-color: #999;
}

.main-color {
    color: #FFF;
}

a {
    text-decoration: none;
}

.menu a:hover {
    background-color: #366ad3;
    color: #FFF;
}